.containerHome{
  width: 100vw;
  height: 100vw;
  background: green;
}

.containerInfo{
  width: 100vw;
  height: 100vw;
  background: pink;
}

.containerProject{
  width: 100vw;
  height: 100vw;
  background: yellow;
}